<div class="container">
                
    <div class="columns">
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
           <a href="/contact">Contact</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
           <a href="/about">About</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
        <a href="/blogpost">Blogposts</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-info">
          <p class="is-size-5">
            Portfolio
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/guestbook">Guestbook</a>
          </p>
        </div>
      </div>
    </div>
  </div> 
    </div>
  </div>
<section class="section">
<div class="container">
<div class="row columns is-multiline">
    {{#if pfolio}}
    {{#each pfolio}}
                <div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
                                <img alt="Image"name="image"> {{image}}
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4 no-padding" name="title">{{title}}</p>
                                </div>
                            </div>
                            <div class="content" name="content"> {{content}} {{#if ../loggedin}} <form method="POST" action="/delp/{{id}}"> <button class="notification is-danger">Delete</button> </form> {{/if}}
                                <div class="background-icon"><span class="icon-twitter"></span></div> 
                            </div> 
                        </div>
                    </div>
                </div> 
                {{/each}}
                {{else}}
                <p>portfolios couldnt be loaded</p>
                {{/if}}   
            </div>
    </div>
</section>